#restartButton {
	color: black;
	font-family: Arial;
	font-size: 15px;
	width: 100px;
}
.Buttons {
	color: black;
	font-family: Arial;
	font-size: 15px;
	width: 100px;
}
.inputSmall
{
	width: 40px;
}
.inputNearSmall
{
	width: 50px;
}
.inputMedium
{
	width: 70px;
}