.App {
  text-align: center;
}

.AppBar {
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  float: left;
  width: 50%;
}

.loading {
  width: 150pt;
  position: absolute;
}

.loading circle {
  fill: none;
  stroke: #aaa;
  stroke-width: 15;
  stroke-dasharray: 54.976, 54.976;
}
.loading polygon {
  fill: #aaa;
  stroke: #aaa;
  stroke-width: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}