.AppBar {
  height: 10px;
  align-items: center;
  justify-content: center;
}

.AppBarText {
  height: 10px;
}

.Badge {
  height: 70px;
  min-height: 70px;
  max-height: 70px;
}

.CardEmblem {
  height: 30px;
}

.Field {
  height: 90px;
  min-height: 90px;
  max-height: 90px;
}

.Key-Large {
  height: 108px;
  min-height: 108px;
  max-height: 108px;
}

.KeyIcon {
  height: 22px;
}

.KeyLargerIcon {
  height: 80px;
}

.LinkLeft {
  float: left;
}

.LinkRight {
  float: right;
}

.LoginBr {
  content: "";
  margin: 2em;
  display: block;
  font-size: 4px;
}

.LogoUpBr {
  content: "";
  margin: 2em;
  display: block;
  font-size: 28px;
}

.NavButton {
  font-family: "Segoe UI Semibold";
}

.NotificationText {
  font-size: 15px;
}

.PokemonInfo {
  font-size: 10px;
}

.PlayerInfo {
  font-size: 20px;
}

.PlayerProfileLink {
  font-size: 15px;
}

.PlayerProfileDescription {
  font-size: 20px;
}

.PlayerProfileText {
  font-size: 15px;
}

.PlayerProfileTitle {
  font-size: 30px;
}

.PlayerStatBr {
  content: "";
  margin: 2em;
  display: block;
  font-size: 1px;
}

.PokemonListBr {
  content: "";
  margin: 2em;
  display: block;
  font-size: 2px;
}

.ProfileTeamEmblem {
  height: 50px;
}

.RuleBr {
  content: "";
  margin: 2em;
  display: block;
  font-size: 2px;
}

.ScrollFrame {
  overflow: hidden;
  background: #999999;
  cursor: ew-resize;
  white-space: nowrap;
  padding: 3px 0px;
}

.ScrollContainer {
  overflow: hidden;
  background: #000;
  cursor: ew-resize;
  white-space: nowrap;
  padding: 2px 2px;
}

.ScrollText {
  position: relative;
  display: inline-block;
  margin: 0;
  will-change: transform;
  animation: Scroll-text-move infinite 15s linear;
}

.seasonRules {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
}

.SeasonStatBr {
  content: "";
  margin: 2em;
  display: block;
  font-size: 2px;
}

.SeasonDescriptionTitle {
  font-size: 25px;
}

.SeasonDescriptionText {
  font-size: 15px;
}

.Site-header {
  background-color: #FFFFFF;
  min-height: 240px;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Site-body-header {
  font-family: "Segoe UI Semibold";
  font-size: 30px;
}

.Site-body-mid-header {
  font-family: "Segoe UI Semibold";
  font-size: 25px;
}

.Site-body-mid-text {
  font-family: "Segoe UI Semibold";
  font-size: 20px;
}

.Site-body-text {
  font-family: "Segoe UI Semibold";
  font-size: 15px;
}

.Site-body-link {
  font-family: "Segoe UI Semibold";
  font-size: 15px;
}

.Site-logo {
  height: 180px;
}

.TeamEmblem {
  height: 22px;
}

.Trophy1 {
  height: 120px;
}

.Trophy4 {
  height: 65px;
}

.Trophy6 {
  height: 65px;
}

.TowerRank {
  height: 2.8vh;
}

.TowerRankProfile {
  height: 80px;
}

.TowerUniform {
  height: 90px;
  min-height: 90px;
  max-height: 90px;
}

.TutorialBr {
  content: "";
  margin: 2em;
  display: block;
  font-size: 1.5px;
}

.TypeIcon {
  height: 25px;
  min-height: 25px;
  max-height: 25px;
}

.TypeIconText {
  height: 15px;
  min-height: 15px;
  max-height: 15px;
}

.whiteContainer {
	padding: 15px 15px 60px 15px;
}

.whiteMidContainer {
	padding: 15px 0px 15px 0px;
}

.whiteHeaderContainer {
	padding: 15px 15px 10px 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .Site-logo {
    animation: Site-logo-transparency 1s linear;
  }
}

@keyframes Site-logo-transparency {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Scroll-text-move {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(-120%);
  }
}