.Main-logo {
  height: 170px;
  min-height: 136px; 
  max-height: 170px;
}

.Main-header {
  background-color: #FFFFFF;
  min-height: 185px;
  max-height: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.Main-body-header {
  font-family: "Segoe UI Semibold";
  font-size: 30px;
  text-align: center;
}

.Main-body-text {
  font-size: 15px;
  text-align: center;
}

.MainMenuBr {
  content: "";
  margin: 2em;
  display: block;
  font-size: 4px;
}

.Notifi-caption {
  font-size: 20px;
  text-align: center;
}

.Footer {
  text-align: center;
}

.Footer-text {
  font-size: 10px;
  font-family: "Segoe UI Semibold";
  text-align: center;
}

.Helsinki {
  height: 25px;
  min-height: 20px;
  max-height: 25px;
}

.Joensuu {
  height: 25px;
  min-height: 20px;
  max-height: 25px;
}

.Jyvaskyla {
  height: 29px;
  min-height: 23.2px;
  max-height: 29px;
}

.Kuopio {
  height: 25px;
  min-height: 20px;
  max-height: 25px;
}

.Lahti {
  height: 25px;
  min-height: 20px;
  max-height: 25px;
}

.Pori {
  height: 25px;
  min-height: 20px;
  max-height: 25px;
}

.Tampere {
  height: 25px;
  min-height: 20px;
  max-height: 25px;
}

.Turku {
  height: 25px;
  min-height: 20px;
  max-height: 25px;
}
.Kingdom-caption {
  height: 25px;
  min-height: 20px;
  max-height: 25px;
}

.Tower-caption {
  height: 60.75px;
  min-height: 48.6px;
  max-height: 60.75px;
}

.DoubleStar-caption {
  height: 60.75px;
  min-height: 48.6px;
  max-height: 60.75px;
}

@media (prefers-reduced-motion: no-preference) {
  .Main-logo {
    animation: Main-logo-transparency 1s linear;
  }

  .Intro-caption {
    animation: City-caption-transparency 1.5s linear;
  }

  .City-caption {
    animation: City-caption-transparency 1.6s linear;
  }

  .Helsinki {
    animation: Helsinki-transparency 1.7s linear;
  }

  .Joensuu {
    animation: Joensuu-transparency 1.8s linear;
  }

  .Jyvaskyla {
    animation: Jyvaskyla-transparency 1.9s linear;
  }

  .Kuopio {
    animation: Kuopio-transparency 2s linear;
  }

  .Lahti {
    animation: Kuopio-transparency 2.1s linear;
  }

  .Pori {
    animation: Pori-transparency 2.2s linear;
  }

  .Tampere {
    animation: Tampere-transparency 2.3s linear;
  }

  .Turku {
    animation: Turku-transparency 2.4s linear;
  }

  .Kingdom-caption {
    animation: Kingdom-caption-transparency 2.5s linear;
  }

  .Tower-caption {
    animation: Tower-caption-transparency 2.6s linear;
  }

  .DoubleStar-caption {
    animation: Tower-caption-transparency 2.7s linear;
  }

  .Login-caption {
    animation: Tower-caption-transparency 2.8s linear;
  }

  .Notifi-caption {
    animation: Notifi-caption-transparency 1s linear;
  }
}

.App-link {
  color: #EC1C24;
}

@keyframes Main-logo-transparency {
  from {
    /* transform: translateY(100%); rotate(0deg); */
    opacity: 0; min-height: 136px; max-height: 136px;
  }

  to {
    /* transform: translateY(0); rotate(360deg); */
    opacity: 1; min-height: 170px; max-height: 170px;
  }
}

@keyframes Main-logo-subtitle-transparency {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Intro-caption-transparency {
  0% {
    opacity: 0;
  }

  66.66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes City-caption-transparency {
  0% {
    opacity: 0;
  }

  53.57% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Helsinki-transparency {
  0% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }

  57.14% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }

  100% {
    opacity: 1; min-height: 25px; max-height: 25px;
  }
}

@keyframes Joensuu-transparency {
  0% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }

  60.71% {
    opacity: 0; min-height: 25px; max-height: 25px;
  }

  100% {
    opacity: 1; min-height: 25px; max-height: 25px;
  }
}

@keyframes Jyvaskyla-transparency {
  0% {
    opacity: 0; min-height: 23.2px; max-height: 23.2px;
  }

  64.29% {
    opacity: 0; min-height: 23.2px; max-height: 23.2px;
  }

  100% {
    opacity: 1; min-height: 29px; max-height: 29px;
  }
}

@keyframes Kuopio-transparency {
  0% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }
  
  67.86% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }
  
  100% {
    opacity: 1; min-height: 25px; max-height: 25px;
  }
}

@keyframes Lahti-transparency {
  0% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }

  71.43% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }

  100% {
    opacity: 1; min-height: 25px; max-height: 25px;
  }
}

@keyframes Pori-transparency {
  0% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }

  75% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }

  100% {
    opacity: 1; min-height: 25px; max-height: 25px;
  }
}

@keyframes Tampere-transparency {
  0% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }
  
  78.57% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }
  
  100% {
    opacity: 1; min-height: 25px; max-height: 25px;
  }
}

@keyframes Turku-transparency {
  0% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }
  
  82.14% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }
  
  100% {
    opacity: 1; min-height: 25px; max-height: 25px;
  }
}

@keyframes Kingdom-caption-transparency {
  0% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }
  
  85.71% {
    opacity: 0; min-height: 20px; max-height: 20px;
  }
  
  100% {
    opacity: 1; min-height: 25px; max-height: 25px;
  }
}

@keyframes Tower-caption-transparency {
  0% {
    opacity: 0; min-height: 48.6px; max-height: 48.6px;
  }
  
  89.29% {
    opacity: 0; min-height: 48.6px; max-height: 48.6px;
  }
  
  100% {
    opacity: 1; min-height: 60.75px; max-height: 60.75px;
  }
}

@keyframes DoubleStar-caption-transparency {
  0% {
    opacity: 0; min-height: 48.6px; max-height: 48.6px;
  }
  
  92.86% {
    opacity: 0; min-height: 48.6px; max-height: 48.6px;
  }
  
  100% {
    opacity: 1; min-height: 60.75px; max-height: 60.75px;
  }
}

@keyframes Login-caption-transparency {
  0% {
    opacity: 0;
  }
  
  96.43% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes Notifi-caption-transparency {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}