body {
	color: #333;
}

h1 {
	font-size: 40px;
	padding: 8px 0px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.blog-image {
	padding: 0px 12px 0px 0px;
}

.bottomnav {
	overflow: hidden;
	color: #FFFFFF;
	background-color: #2D353C;
}

.bottomnav a {
	float: left;
	color: #5A6A78;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 16px;
}

.citation {
	font-size: 24px;
}

.container {
	display: flex; /* tai vaihtoehtoisesti inline-flex */
	width: 100%;
	max-width: 1580px;
	min-width: 800px;
}

.layoutbox {
	background-color: #F5F5F5;
	border: 1px;
	border-color: #DDD;
	border-style: solid;
	padding: 6px 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.menubox {
	display: flex;
	background-color: #F5F5F5;
	border: 1px;
	border-color: #DDD;
	border-style: solid;
	padding: 8px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}

.menubox-header {
	display: flex;
	background-color: #F5F5F5;
	border: 1px;
	border-color: #DDD;
	border-style: solid;
	font-size: 28px;
	padding: 8px 12px;
	width: 100%;
	word-wrap: break-word;
}

.menubox-active {
	display: flex;
	background-color: #2D353C;
	border: 1px;
	border-color: #DDD;
	color: #FFF;
	font-weight: bold;
	border-style: solid;
	padding: 8px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}

.section-menubox {
	display: flex;
	background-color: #F5F5F5;
	border: 1px;
	border-color: #DDD;
	border-style: solid;
	padding: 5px 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}

.section-menubox-active {
	display: flex;
	background-color: #2D353C;
	border: 1px;
	border-color: #DDD;
	border-style: solid;
	color: #FFF;
	font-weight: bold;
	padding: 5px 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}

.topnav {
	overflow: hidden;
	color: #FFFFFF;
	background-color: #2D353C;
	width: 100%;
}

.topnav a {
	float: left;
	color: #FFF;
	text-align: center;
	padding: 12px 0px;
	text-decoration: none;
	font-size: 16px;
}

.topnav a.left {
	padding: 12px 0px;
}

.topnav a.right {
	padding: 12px 9px;
}

/*
.topnav a:hover {
	background-color: #5A6A78;
	color: black;
}

.topnav a.active {
	background-color: #5A6A78;
	color: white;
}
*/

.topnav-right {
	float: right;
}